################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.Net Architecture course/.vs/ToDoList
/.vs/Repos/v17
/Csharp/Ultimate C# Masterclass 2025/Section2/.vs/Section2
