################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.Net Architecture course/.vs/ToDoList
/.vs/Repos/v17
