################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.Net Architecture course/.vs/ToDoList
/.vs/Repos/v17
/Csharp/Ultimate C# Masterclass 2025/Section2/.vs/Section2
/.vs
/Ultimate C# Masterclass/Section4/.vs/Section4
/Ultimate C# Masterclass/Section4/CookieCookBook/obj
/.Net Architecture course/.vs/ProjectEvaluation
