@model IEnumerable<MvcApp.Annotations.Group>

<h2>Groups List</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Group</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Group Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GroupId" class="btn btn-sm btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GroupId" class="btn btn-sm btn-info">Details (Students)</a> |
                    <a asp-action="Delete" asp-route-id="@item.GroupId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>