@page
@model MvcApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<h2>Welcome to CoreEFTest</h2>
<p>Please select an option from the navigation menu above.</p>
<ul>
    <li><a href="/Students">Manage Students</a></li>
    <li><a href="/Groups">Manage Groups</a></li>
</ul>